.container{
    height: 700px;
    border: 1px solid black;
    background-color:cornflowerblue;
    display: grid;
    grid-template-rows: 30px 150px 400px 30px;
    grid-template-columns: 400px;

    grid-template-areas: 
    "hd"
    "side"
    "main"
    "ft";

}

.box{
    border:1px solid black;
    background-color: indianred;
}

#header{
    grid-area: hd;

}

#sidebar{
    grid-area: side;

}

#content{
    grid-area: main;

}

#footer{
    grid-area: ft;
}



