.container{
    margin: 30px;
    background-color: brown;
    height: 500px;
    border: solid 3px black;
    display: grid;
    grid-template-columns:200px 200px 200px;
    grid-template-rows: 100px 100px 100px;
}

.box{
    background-color: chartreuse;
    border: solid 3px black;
   
    height: 80px;
    
}

.box2{

    background-color: aquamarine;
    border: solid 1px black;
    width: 80px;
    height: 80px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr 1fr;

}

#box1{
    grid-column-start: 1;
    grid-column-end: 3;
}