*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color:#35705A;
    justify-content: center;
    align-items: center;

}

.container{
    
    display: flex;
    width: 700px;
    height: 400px;
    background-color: aliceblue;
    margin: 1em 2em;
    border-radius: 1.5em;

    
    
    

}

.image{
    width: 75%;
    height: 100%;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 1.5em 0 0 1.5em;
}

.content{
    width: 75%;
    text-align: left;
    margin: 0.6em 2em;

}

.product{
    color:  #70768f;
    font-family: monospace;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 1em 0;


}

.product-title{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    margin: 0.6em 0 0.6em 0;

}


.product-desc{
    font-size: 16px;
    color:  #70768f;
    margin-bottom: 1.5em;

}

.cur-price{
    color: #35705A;
    margin-right: 0.3em;
    font-size: 26px;
    font-weight:700;
}

.old-price{
    color: #70768f;


}

.button{
    margin: 3em 0 1em 0;
    padding: 1em 0;
    width: 100%;
    background-color:#35705A ;
    border-radius: 0.7em;
    outline: none;
    border: 0;
    cursor: pointer;
    color: #fff;

}

.btn-img{
    margin-right: 1.5em;
}

.btn-text{
    font-size: large;
    font-weight: 500;
}

