div{
    width: 100px;
    height: 200px;
    background-color: aquamarine;
    border: solid 1px black;

}

.box{
    display: inline-block;
    position:relative;

  
    
}

#box3{
    top: 60px;
    left: 50px;
}

/* FIXED positioning */

#box1{
    position: fixed;
    background-color: chartreuse;
}




.wrapper{
    width: 10000px;
    height: 2000px;
    background-color: blue;
}


#box4{
    position:absolute;
    top: 90px;
}

#box2{
    position: sticky;

}
